<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<link rel="stylesheet" href="../css/base.css">
<body>
<div class="box"></div>
<h1><%= title %></h1>
<p>EJS Welcome to <%= title %></p>
<img src="../imgs/timg%20(2).jpg" alt="">
</body>
</html>